<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp Layout</title>
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link rel="stylesheet" href="./css/dark.css" media="(prefers-color-scheme: dark)">

    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div class="viewport flex a-center j-center">
        <div class="wrapper flex" id="app">

            <div class="chat-name">

                <!-- header chat-name -->
                <header class="bg-main flex a-center space-between pd10">

                    <img class="circle" src="./img/avatar_1.jpg" alt="Immagine profilo">

                    <ul class="menu-list flex gap">
                        <li><button class="btn"><i class="fa-solid fa-circle-notch"></i></button></li>
                        <li><button class="btn"><i class="fa-solid fa-message"></i></button></li>
                        <li><button class="btn"><i class="fa-solid fa-ellipsis-vertical"></i></button></li>
                    </ul>

                </header>
                <!-- /header chat-name -->

                <!-- notifications -->
                <div class="notifications flex gap a-center pd10">
                    <div class="icon flex j-center a-center circle">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>

                    <div>
                        <h5>Ricevi notifiche di nuovi messaggi</h5>
                        <span><a href="">Attiva le notifiche desktop</a></span>
                    </div>

                </div>
                <!-- /notifications -->

                <!-- search-box -->
                <div class="search-box bg-main flex a-center">

                    <div class="white flex a-center">

                        <i class="fa-solid fa-magnifying-glass"></i>

                        <input type="search" name="search" placeholder="Cerca o inizia una nuova chat"
                            v-model.trim="strToSearch" @input="searchName">
                    </div>
                </div>
                <!-- /search-box -->

                <div class="main">
                    <!-- chat-list -->
                    <ul class="chat-list" v-if="contacts.length > 0">
                        <li class="flex a-center gap pd10" :class="{'selected' : index === currentChat}"
                            v-for="(element, index) in contacts" @click="changeChat(index)" v-show="element.visible">

                            <img :src=`./img/avatar${element.avatar}.jpg` class="circle" alt="">

                            <div class="preview">
                                <div class="row space-between flex a-center">
                                    <h3>{{element.name}}</h3>
                                    <span class="hours">{{ (element.messages.length > 0) ? element.messages[element.messages.length-1].date : '' }}</span>
                                </div>
                                <span>{{ (element.messages.length > 0) ? element.messages[element.messages.length-1].message : '' }}</span>
                            </div>

                        </li>



                    </ul>
                    <!-- /chat-list -->
                </div>


            </div>

            <div class="chat">
                <!-- header -->
                <header class="bg-main flex a-center space-between pd10" :style="contacts.length === 0 ? 'justify-content : flex-end' : ''">

                    <div class="contact flex a-center gap" v-if="contacts.length > 0">
                        <img class="circle" :src=`./img/avatar${contacts[currentChat].avatar}.jpg`
                            alt="Immagine profilo">
                        <div class="row space-between">
                            <h3>{{ contacts[currentChat].name }}</h3>
                            <span> {{ lastAccess() }} </span>
                        </div>
                    </div>

                    <ul class="menu-list flex gap">
                        <li><button class="btn"><i class="fa-solid fa-magnifying-glass"></i></button></li>
                        <li><button class="btn"><i class="fa-solid fa-paperclip"></i></button></li>
                        <li><button class="btn" @click="toggleMenuChat"><i class="fa-solid fa-ellipsis-vertical"></i></button></li>
                    </ul>

                    <ul class="menu-message chat-menu" v-show="chatMenu">
                        <li class="flex j-center white" @click.stop="deleteAllMessage()"><button >Elimina messaggi</button></li>
                        <li class="flex j-center white" @click.stop="deleteChat()"><button>Elimina chat</button></li>
                    </ul>

                </header>
                <!-- /header -->

                <main class="flex gap" id="chat-messages">
                    <div class="overlay-menu" v-show="viewOverlay" @click="hideMenu"></div>
                    
                    <div class="flex gap column" v-if="contacts.length > 0">
                    <div class="flex message pd10" :class="element.status"
                        v-for="(element, index) in contacts[currentChat].messages">
                        <p> {{ element.message }}</p>
                        <div class="flex space-between">
                            <div class="icon" @click="showMenu(index)">
                                <i class="fa-solid fa-chevron-down"></i>
                                    <ul class="menu-message" v-show="element.visibleMenu">
                                        <li class="flex j-center white"><button @click.stop="hideMenu">Inoltra messaggio</button></li>
                                        <li class="flex j-center white"><button @click.stop="deleteMessage(index)">Cancella messaggio</button></li>
                                    </ul>
                            </div>
                            <span class="hours">{{element.date}}</span>
                        </div>

                    </div>
                </div>

                </main>

                <footer class="bg-main flex a-center">
                    <button><i class="fa-regular fa-face-smile"></i></button>
                    <input type="text" name="text" placeholder="Cerca o inizia una nuova chat" v-model.trim="newMessage"
                        @keyup.enter="sentMessage">
                    <button v-if="newMessage.length === 0"><i class="fa-solid fa-paperclip"></i></button>
                    <button @click="sentMessage" v-else><i class="fa-solid fa-paper-plane"></i></button>
                </footer>
            </div>

        </div>
    </div>

    <!-- luxon cdn -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <!-- custom script -->
    <script src="./js/script.js"></script>
</body>

</html>